*{
    box-sizing: border-box;
    margin: 0;
}

body{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    /* font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto; */
}

:root{
    --color-primary: #08a6e4;
    --color-primary-shadow: rgba(7, 172, 230, .16);
    --color-redish: #FB3B64;
    --color-green: #55dfb4;
    --color-black: #000000;
    --color-grey: #a5a5a5;
    --color-light-grey: #f7f7f7;
    --color-white: #ffffff;

    --font-base: "Open Sans" sans-serif;
    --font-special: "Raleway", sans-serif;

    --font-regular: 400;
    --font-bold: 700;

    --standard-radius: 18px;
    
    
}

.container{
    width: 1352px;
}